<ion-header>
  <ion-toolbar>
    <ion-title>
      Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card" *ngIf="details">
    <app-video *ngIf="supportedExtension(details.extension) && !transcodingChecked()"
      [file]="file.name" [transcode]="false"></app-video>
    <app-video *ngIf="transcodingChecked()" [file]="file.name" [transcode]="true"
      [quality]="quality()" [changeContainersOnly]="changeContainersOnlyChecked()" [hardwareAcceleration]="hardwareAcceleration()"></app-video>
    <img #thumbnail src="{{ environment.apiUrl }}/GetThumbnail?file={{ file.name }}&resolution=Large"
      *ngIf="!supportedExtension(details.extension) && !transcodingChecked()">
    <ion-card-header>
      <ion-card-subtitle>File details</ion-card-subtitle>
      <ion-card-title class="ion-text-center">
        {{ file.name | noExtension | trim }}
        <ion-icon name="cloud-download" md="md-cloud-download" *ngIf="!file.downloading() && !file.downloaded()"
          (click)="downloadClicked()">
        </ion-icon>
        <ion-spinner name="crescent" *ngIf="file.downloading()"></ion-spinner>
        <ion-icon name="checkmark-circle" *ngIf="!file.downloading() && file.downloaded()"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Size : {{ details.length | inMB }}</p>
      <p>Extension :
        <ion-badge color="{{ colorFromExtension(details.extension) }}" (click)="badgeToast(details.extension)" style="vertical-align: top">
          {{ details.extension | noDot }}</ion-badge>
      </p>
      <p>Creation time : {{ details.creationTime | formatDate }}</p>
      <p>Last acess time : {{ details.lastAccessTime | formatDate }}</p>
      <p>Last write time : {{ details.lastWriteTime | formatDate }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <p *ngFor="let line of metadata">{{ line }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>